@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Pathway Extreme', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1501618669935-18b6ecb13d6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2049&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

h1 {
  color: #FFFFFF;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  border-radius: 10px 0 0 10px;
  padding: 0.5rem 1rem;
  margin: 1rem 0 2rem 0;
  width: 300px;
  color: #ffffff;
}

.todo-input::placeholder {
  color: #ffffff6d;
}

.todo-btn {
  background: #8758ff;
  border-radius: 0 10px 10px 0;
  color: #ffffff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  transition: ease 0.5s;
}

.todo-btn:hover {
  background: #ffffff;
  border-radius: 0 10px 10px 0;
  color: #8758ff;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}